In [1]:
import os
import pandas as pd

In [2]:
data = pd.read_csv("data/yellow_tripdata_2020-06.csv")
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-06-01 00:31:23,2020-06-01 00:49:58,1.0,3.6,1.0,N,140,68,1.0,15.5,3.0,0.5,4.00,0.0,0.3,23.30,2.5
1,1.0,2020-06-01 00:42:50,2020-06-01 01:04:33,1.0,5.6,1.0,N,79,226,1.0,19.5,3.0,0.5,2.00,0.0,0.3,25.30,2.5
2,1.0,2020-06-01 00:39:51,2020-06-01 00:49:09,1.0,2.3,1.0,N,238,116,2.0,10.0,0.5,0.5,0.00,0.0,0.3,11.30,0.0
3,1.0,2020-06-01 00:56:13,2020-06-01 01:11:38,1.0,5.3,1.0,N,141,116,2.0,17.5,3.0,0.5,0.00,0.0,0.3,21.30,2.5
4,1.0,2020-06-01 00:16:41,2020-06-01 00:29:30,1.0,4.4,1.0,N,186,75,1.0,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5

In [3]:
# 保留需要使用的数据
n_data = data[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'trip_distance', 'PULocationID', 'DOLocationID']]
n_data.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID
0,2020-06-01 00:31:23,2020-06-01 00:49:58,3.6,140,68
1,2020-06-01 00:42:50,2020-06-01 01:04:33,5.6,79,226
2,2020-06-01 00:39:51,2020-06-01 00:49:09,2.3,238,116
3,2020-06-01 00:56:13,2020-06-01 01:11:38,5.3,141,116
4,2020-06-01 00:16:41,2020-06-01 00:29:30,4.4,186,75

In [4]:
# 去掉行进距离为0的数据
n_data = n_data[~n_data['trip_distance'].isin([0])]
n_data.shape

(532324, 5)

In [5]:
# 计算行进时间，单位s
n_data['duration'] = (pd.to_datetime(n_data['tpep_dropoff_datetime'] ) - pd.to_datetime(n_data['tpep_pickup_datetime'])).dt.total_seconds()

In [6]:
# 去掉行进时间非正的数据
n_data = n_data[~(n_data['duration'] <= 0)]
n_data.shape

(532269, 6)

In [7]:
# 计算行进速度，单位m/s
n_data['speed'] = (n_data['trip_distance']/n_data['duration'])*1000

In [8]:
# 去掉行进速度中过高的异常值，阈值为30m/s
n_data = n_data[~(n_data['speed'] > 30)]
n_data.shape

(531803, 7)

In [9]:
#去掉行进时间中过高的异常值，阈值为14400s，即4小时
n_data = n_data[~(n_data['duration'] > 14400)]
n_data.shape

(530934, 7)

In [10]:
n_data.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,duration,speed
0,2020-06-01 00:31:23,2020-06-01 00:49:58,3.6,140,68,1115.0,3.228700
1,2020-06-01 00:42:50,2020-06-01 01:04:33,5.6,79,226,1303.0,4.297774
2,2020-06-01 00:39:51,2020-06-01 00:49:09,2.3,238,116,558.0,4.121864
3,2020-06-01 00:56:13,2020-06-01 01:11:38,5.3,141,116,925.0,5.729730
4,2020-06-01 00:16:41,2020-06-01 00:29:30,4.4,186,75,769.0,5.721717

In [11]:
n_data.to_csv("data/new_yellow_tripdata_2020-06.csv")